$background: #D55745
$header-accent: white
$border-color: darken(#CF5341, 8%)

.header
  display: flex
  height: 100vh
  background: $background
  background-image: image-url("header.png")

  .header__content
    display: flex

  .header__navbar
    display: flex
    justify-content: flex-end
    width: 100%
    padding-top: 50px

    ul
      list-style-type: none
      padding: 0px

      li
        display: inline
        padding-right: 40px
        color: #373F51

        &:before
          content: '/'
          padding-right: 10px

  .header__editor
    width: 33%
    img
      position: relative
      top: 100px
      right: 320px
      height: 475px
      box-shadow: 0 11px 50px -11px #150907

  .header__introduction
    display: flex
    justify-content: center
    flex-direction: column
    margin-top: 100px
    width: 100%
    box-sizing: border-box
    z-index: 50
    border: 5px solid $border-color
    background: rgba($background, 0.8)
    padding: 50px
    padding-top: 69px
    transition: all 0.8s

    &:hover
      transform: translateY(-10px)
      box-shadow: 0 5px 15px darken(#D75846, 10%)

      h1
        right: -25px

  h1, h3, p
    color: $border-color
    margin: 3px 0

  h1
    font-size: 90px
    font-weight: 700
    padding: 15px
    position: relative
    right: 69px
    background: $background
    padding-left: 0
    border-bottom-left-radius: 10px
    border-top-left-radius: 10px
    transition: all 0.5s

    span
      color: $header-accent
      background: initial
      opacity: 0.9

  h3
    font-size: 30px
    font-style: italic
    margin-bottom: -5px

  p
    font-size: 24px
    max-width: 500px
    margin-left: 6px
    color: $header-accent
    opacity: 0.85

    span
      background: image-url('tint.png')
      padding: 5px
      line-height: 35px
